* {margin: 0; padding: 0; outline:0;
    font-family:Arial, Helvetica, sans-serif;
}

#navbody{
    display: flex;
    flex-direction: row;
    font-size: 3.5vw;
}
.page{
    margin-left: 2vw;
    margin-right: 2vw;
    width: 12.2vw;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    color: #B8B87C;
}
.logo{
    display: flex;
    min-width: 7.5vw;
}
nav{
    display:flex;
    flex-direction: row;
    background: #353535;
    height: 4.5vw;
}
body{
    background: linear-gradient(84.29deg, #2D2C26 6.22%, #464631 100%);
}
.spacer-v{
    width: 4vw;
}
.spacer-h{
    height: 4vw;
}
.image-group{
    width: 20.8vw;
    flex-direction: column;
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
}
#body{
    display: flex;
    justify-content: end;
    flex-direction: row;
    font-size: 3vw;
}
#content{
    flex-grow: 1;
    text-align: center;
    color: aliceblue;
    display: flex;
    flex-direction: column;
}
.image{
    height:20.8vw;
    background-color: aliceblue;
}
#title{
    font-size: 7vw;
    margin-top: auto;
    margin-bottom: auto;
    font-weight: bold;
}
#pararaph{
    margin-top: auto;
    margin-bottom: auto;
}
#list{
    margin-top: auto;
    margin-bottom: auto;
    text-align: left;
}